<h1> Hex-Monsters </h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <p>
    <b>R</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="255"
    data-slider-step="1" data-slider-value="128" data-slider-id="RC" id="R" data-slider-tooltip="show"
    data-slider-handle="square" />
    </p>
    <p>
    <b>G</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="255"
    data-slider-step="1" data-slider-value="128" data-slider-id="GC" id="G" data-slider-tooltip="hide"
    data-slider-handle="round" />
    </p>
    <p>
    <b>B</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="255"
    data-slider-step="1" data-slider-value="128" data-slider-id="BC" id="B" data-slider-tooltip="hide"
    data-slider-handle="triangle" />
    </p>
    <div id="RGB"></div></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button>Show Color and Hex-Value</button>
    
    </div>
  </div>
</div>
